@import url('./variable.css');
@import url('./svg.css');
@import url('./font.css');

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: var(--surface-default);
}

/* Common Structure styles */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-item-center {
  display: flex;
  align-items: center;
}

/* Structure styles */
.container {
  gap: 32px;
  width: 1440px;
  height: 100vh;
  padding: 0 80px;
  background-color: var(--surface-alt);
}

.header {
  justify-content: space-between;
  height: 64px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main {
  display: flex;
  gap: 24px;
  background-color: var(--surface-alt);
}

.column {
  width: 320px;
  gap: 10px;
}

.column-area {
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: space-between;
  padding: 0 16px;
}

.column-area-left {
  gap: 8px;
  width: 100%;
}

.column-area-right {
  display: flex;
  gap: 8px;
}

.card-container {
  gap: 10px;
}

.card-common {
  gap: 16px;
  padding: 16px;
  background-color: var(--surface-default);
  border-radius: var(--radius-small);
  box-shadow: var(--drop-shadow-normal);
}

.todo-card {
  display: flex;
}

.card-form {
  margin-bottom: 10px;
}

.card-form .button-section {
  display: flex;
  gap: 8px;
}

.form-input::placeholder {
  color: var(--text-strong);
}

.form-textarea {
  height: 20px;
  overflow-y: hidden;
}

.form-textarea::placeholder {
  color: var(--text-default);
}

.form-common-btn {
  height: 32px;
  display: flex;
  padding: 7.5px 53.5px;
  background-color: var(--surface-alt);
  border-radius: var(--radius-small);
}

.form-create-btn {
  background-color: var(--surface-brand);
}

.card-form .button-section span {
  padding: 0 4px;
}

.card-form .button-section {
  width: 288px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.content-section {
  width: 100%;
  gap: 8px;
}

.author-section {
  margin-top: 8px;
}

.number-box {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-default);
  border-radius: var(--radius-small);

  justify-content: center;
}

.sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 24px;

  border: 1px solid var(--border-bord);
  border-radius: var(--radius-small);
}

.sort-btn-label {
  padding: 1.5px 4px;
}

/* History */

#history {
  display: none;
  gap: 8px;
  position: fixed;
  top: 64px;
  right: 62px;
  padding: 8px;

  border-radius: var(--radius-medium);
  background-color: var(--surface-default);
  box-shadow: var(--drop-shadow-floating);

  z-index: 10;
}

#history header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

#history header > span {
  display: flex;
  padding-left: 8px;
}

#history-section {
  gap: 1px;
  padding-right: 4px;
  max-height: 560px;
  overflow-y: auto;
}

/* scrollbar */
#history-section::-webkit-scrollbar {
  width: 2px;
  height: 240px;
}

#history-section::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 투명 */
}

/* handle */
#history-section::-webkit-scrollbar-thumb {
  background-color: var(--surface-alt);
  border-radius: 6px;
}

/* hover event */
#history-section::-webkit-scrollbar-thumb:hover {
  background-color: darkgray; /* 호버 시 손잡이 색상 */
}

#history-default {
  width: 312px;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.history-close-btn {
  display: flex;
  align-items: center;
  padding: 7.5px 8px;
}

.history-close-btn > span {
  padding: 0 4px;
}

/* History Item*/

.activity-record {
  width: 344px;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-default);
}

.activity-record .profile-img {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-large);
  border: 1px solid var(--border-default);
}

.activity-record .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* History Fotter */

#history footer {
  display: none;
  justify-content: flex-end;
  padding: 4px 8px;
}

#history-delete-btn {
  display: flex;
  justify-content: center;
  padding: 7.5px 8px;
}

/* Modal */
dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 24px 24px 24px;
  border: 0;
  border-radius: var(--radius-medium);
  background-color: var(--surface-default);
  box-shadow: var(--drop-shadow-up);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal-cancel-btn,
#modal-delete-btn {
  height: 32px;
  display: flex;
  padding: 7.5px 69.5px;
  background-color: var(--surface-alt);
  border-radius: var(--radius-small);
}

#modal-delete-btn {
  background-color: var(--surface-danger);
}

#modal .button-section span {
  padding: 0 4px;
}

#modal .button-section {
  width: 352px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
