:root {
  /* Grayscale colors */
  --grayscale-50: #fefefe;
  --grayscale-100: #f7f7fc;
  --grayscale-200: #eff0f6;
  --grayscale-300: #d9dbe9;
  --grayscale-400: #bec1d5;
  --grayscale-500: #a0a3bd;
  --grayscale-600: #6e7191;
  --grayscale-700: #4e4b66;
  --grayscale-800: #2a2a44;
  --grayscale-900: #14142b;

  /* Accent colors */
  --accent-blue: #007aff;
  --accent-red: #ff3b30;

  /* Text colors */
  --text-strong: var(--grayscale-900);
  --text-bold: var(--grayscale-700);
  --text-default: var(--grayscale-600);
  --text-weak: var(--grayscale-500);
  --text-white-default: var(--grayscale-50);
  --text-white-weak: var(--grayscale-100);
  --text-brand: var(--accent-blue);
  --text-danger: var(--accent-red);

  /* Surface colors */
  --surface-default: var(--grayscale-50);
  --surface-alt: var(--grayscale-100);
  --surface-brand: var(--accent-blue);
  --surface-danger: var(--accent-red);

  /* Border colors */
  --border-default: var(--grayscale-200);
  --border-bord: var(--grayscale-400);

  /* Radius */
  --radius-small: 8px;
  --radius-medium: 16px;
  --radius-large: 50%;

  /* Drop Shadow */
  --drop-shadow-normal: 0 1px 4px rgba(110, 128, 145, 0.24);

  --drop-shadow-up: 0 2px 8px rgba(110, 128, 145, 0.32);

  --drop-shadow-floating: 0 0 4px rgba(110, 128, 145, 0.08),
    0 16px 16px rgba(110, 128, 145, 0.24);

  /* Font Size  */
  --font-size-large: 24px;
  --font-size-medium: 16px;
  --font-size-regular: 14px;
  --font-size-small: 12px;

  /* Font Weights */
  --font-weight-bold: 700;
  --font-weight-medium: 500;

  /* Line Height */
  --line-height-auto: auto;
  --line-height-22: 22px;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: var(--surface-default);
}

/* Typo Color */
.text-strong {
  color: var(--text-strong);
}
.text-bold {
  color: var(--text-bold);
}
.text-default {
  color: var(--text-default);
}
.text-weak {
  color: var(--text-weak);
}
.text-brand {
  color: var(--text-brand);
}
.text-danger {
  color: var(--text-danger);
}

.text-white {
  color: var(--text-white-default);
}

/* Typo style */

/* Line Height */
.tx-b24,
.tx-b16,
.tx-b14,
.tx-b12,
.tx-m16,
.tx-m14,
.tx-m12 {
  line-height: var(--line-height-auto);
}

.tx-m16 {
  line-height: var(--line-height-22);
}

/* 글씨 굵기 설정 */
.tx-b24,
.tx-b16,
.tx-b14,
.tx-b12,
.tx-sb16,
.tx-sb14,
.tx-am16,
.tx-am14 {
  font-weight: var(--font-weight-bold);
}

.tx-m16,
.tx-m14,
.tx-m12,
.tx-am16,
.tx-am14 {
  font-weight: var(--font-weight-medium);
}

/* 글씨 크기 설정 */
.tx-b24 {
  font-size: var(--font-size-large);
}
.tx-b16,
.tx-m16,
.tx-sb16,
.tx-am16 {
  font-size: var(--font-size-medium);
}
.tx-b14,
.tx-m14,
.tx-sb14,
.tx-am14 {
  font-size: var(--font-size-regular);
}
.tx-b12,
.tx-m12 {
  font-size: var(--font-size-small);
}

/* Common Structure styles */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-item-center {
  display: flex;
  align-items: center;
}

/* Structure styles */
.container {
  gap: 32px;
  width: 1440px;
  height: 100vh;
  padding: 0 80px;
  background-color: var(--surface-alt);
}

.header {
  justify-content: space-between;
  height: 64px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main {
  display: flex;
  gap: 24px;
  background-color: var(--surface-alt);
}

.column {
  width: 320px;
  gap: 10px;
}

.column-area {
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: space-between;
  padding: 0 16px;
}

.column-area-left {
  gap: 8px;
  width: 100%;
}

.column-area-right {
  display: flex;
  gap: 8px;
}

.card-list,
.card-container {
  gap: 10px;
}

.card-common {
  gap: 16px;
  padding: 16px;
  background-color: var(--surface-default);
  border-radius: var(--radius-small);
  box-shadow: var(--drop-shadow-normal);
}

.todo-card {
  display: flex;
}

.card-form .button-section {
  display: flex;
  gap: 8px;
}

.form-input::placeholder {
  color: var(--text-strong);
}

.form-textarea {
  height: 20px;
  overflow-y: hidden;
}

.form-textarea::placeholder {
  color: var(--text-default);
}

.form-common-btn {
  height: 32px;
  display: flex;
  padding: 7.5px 53.5px;
  background-color: var(--surface-alt);
  border-radius: var(--radius-small);
}

.form-create-btn {
  background-color: var(--surface-brand);
}

.card-form .button-section span {
  padding: 0 4px;
}

.card-form .button-section {
  width: 288px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.content-section {
  width: 100%;
  gap: 8px;
}

.author-section {
  margin-top: 8px;
}

.number-box {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-default);
  border-radius: var(--radius-small);

  justify-content: center;
}

.sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75px;
  height: 24px;

  border: 1px solid var(--border-bord);
  border-radius: var(--radius-small);
}

.sort-btn-name {
  padding: 1.5px 4px;
}

/* History */

#history {
  display: none;
  gap: 8px;
  position: fixed;
  top: 64px;
  right: 62px;
  padding: 8px;

  border-radius: var(--radius-medium);
  background-color: var(--surface-default);
  box-shadow: var(--drop-shadow-floating);
}

#history header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

#history header > span {
  display: flex;
  padding-left: 8px;
}

#history-section {
  gap: 1px;
  padding-right: 4px;
  max-height: 560px;
  overflow-y: auto;
}

/* scrollbar */
#history-section::-webkit-scrollbar {
  width: 2px;
  height: 240px;
}

#history-section::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 투명 */
}

/* handle */
#history-section::-webkit-scrollbar-thumb {
  background-color: var(--surface-alt);
  border-radius: 6px;
}

/* hover event */
#history-section::-webkit-scrollbar-thumb:hover {
  background-color: darkgray; /* 호버 시 손잡이 색상 */
}

#history-default {
  width: 312px;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.history-close-btn {
  display: flex;
  align-items: center;
  padding: 7.5px 8px;
}

.history-close-btn > span {
  padding: 0 4px;
}

/* History Item*/

.activity-record {
  width: 344px;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-default);
}

.activity-record .profile-img {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-large);
  border: 1px solid var(--border-default);
}

.activity-record .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* History Fotter */

#history footer {
  display: none;
  justify-content: flex-end;
  padding: 4px 8px;
}

#history-delete-btn {
  display: flex;
  justify-content: center;
  padding: 7.5px 8px;
}

/* Modal */
dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 24px 24px 24px;
  border: 0;
  border-radius: var(--radius-medium);
  background-color: var(--surface-default);
  box-shadow: var(--drop-shadow-up);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal-cancel-btn,
#modal-delete-btn {
  height: 32px;
  display: flex;
  padding: 7.5px 69.5px;
  background-color: var(--surface-alt);
  border-radius: var(--radius-small);
}

#modal-delete-btn {
  background-color: var(--surface-danger);
}

#modal .button-section span {
  padding: 0 4px;
}

#modal .button-section {
  width: 352px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
