@import url("https://cdn.jsdelivr.net/gh/orioncactus/Pretendard/dist/web/static/pretendard.css");
@import url("../css/global.css");
@import url("../css/reset.css");

body {
  margin: 0;
  background-color: var(--surface-alt);
  display: flex;
  flex-direction: column;
  gap: var(--number-400);
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

h1 {
  font: var(--display-bold24);
  color: var(--text-strong);
}

#historyOpenButton {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main */
.columnList {
  width: 1280px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.column {
  width: 320px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--number-200);
}

.column-header__textArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--number-100);
}

.column-header__title {
  font: var(--display-bold16);
  color: var(--text-bold);
  line-height: 100%;
}

.count_card {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-default);
  border-radius: var(--number-100);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-weak);
  font: var(--display-medium12);
}

.column-header__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--number-100);
}

.column-header__plus-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}

.plus {
  width: 14px;
  height: 14px;
  color: var(--text-weak);
}

.plus:hover {
  color: var(--accent-red);
}
.column-header__closed-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}

.plus_button,
.closed_button {
  fill: var(--text-weak);
}

.column-cardList {
  width: 320px;
}

.add-card {
  margin-top: 10px;
  background-color: var(--surface-default);
  border-radius: var(--number-100);
  padding: var(--number-200);
  box-shadow: 0px 1px 4px #6e80913d;
  display: flex;
  flex-direction: column;
  gap: var(--number-200);
}

.add-card__input {
  display: flex;
  flex-direction: column;
  gap: var(--number-100);
}

.add-card__input__title {
  font: var(--display-bold14);
  color: var(--text-strong);
}

.add-card__input__content {
  font: var(--display-medium14);
  color: var(--text-default);
}

.add-card__buttons {
  display: flex;
  gap: var(--number-100);
}

.add-card__cancle-btn {
  width: 140px;
  height: 32px;
  border-radius: var(--number-100);
  border: none;
  padding: 0 var(--number-100);
  background-color: var(--surface-alt);
  font: var(--display-bold14);
  color: var(--text-default);
  text-align: center;
}

.add-card__submit-btn {
  width: 140px;
  height: 32px;
  border-radius: var(--number-100);
  border: none;
  padding: 0 var(--number-100);
  background-color: var(--surface-brand);
  opacity: 30%;
  font: var(--display-bold14);
  color: var(--text-white-default);
  text-align: center;
}

.show-card {
  margin-top: 10px;
  background-color: var(--surface-default);
  border-radius: var(--number-100);
  padding: var(--number-200);
  box-shadow: 0px 1px 4px #6e80913d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--number-200);
}

.show-card__total {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.show-card__title {
  font: var(--display-bold14);
  color: var(--text-strong);
}

.show-card__content {
  font: var(--display-medium14);
  color: var(--text-default);
}

.show-card__caption {
  margin-top: var(--number-100);
  font: var(--display-medium12);
  color: var(--text-weak);
}

.show-card__icons {
  display: flex;
  flex-direction: column;
}

.edit_button {
  stroke: var(--text-weak);
}

.show-card__cancle-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}

.show-card__edit-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}

#historyList-noEmpty {
  position: fixed;
  right: 0;
  top: 64px;
  transform: translateX(100%);
  transition: transform 1s ease-in-out; /* 슬라이드 애니메이션을 부드럽게 만들기 위한 트랜지션 */
  background-color: var(--surface-default);
  box-shadow: 0px 16px 16px #6e80913d, 0px 0px 4px #6e809114;
  border-radius: var(--number-200);
  display: flex;
  flex-direction: column;
  gap: var(--number-100);
}

#historyList-noEmpty.active {
  transform: translateX(-56px);
}

.history__header {
  width: 350px;
  padding: var(--number-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history__header__title {
  padding: 14px 0 14px var(--number-200);
  font: var(--display-bold16);
  color: var(--text-strong);
  line-height: 100%;
}

#history__closedButton {
  height: 32px;
  font: var(--display-bold14);
  color: var(--text-default);
  border: none;
  background-color: unset;
  display: flex;
  align-items: center;
  padding-right: var(--number-100);
}

.history__header__closed-btn {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--number-100) 0 var(--number-100) var(--number-100);
}

.img_closed {
  width: 8px;
  height: 8px;
}

.history__header__textLabel {
  padding: 0 var(--number-200) 0 var(--number-50);
}

.history__recordList {
  width: 344px;
  display: flex;
  flex-direction: column;
  gap: var(--number-50);
  padding: 0 var(--number-100) var(--number-100) var(--number-100);
}

#recordHistory {
  height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 스크롤바 디자인 적용 */
#recordHistory::-webkit-scrollbar {
  width: 2px;
}

#recordHistory::-webkit-scrollbar-thumb {
  background-color: var(--surface-alt);
  border-radius: 6px;
}

.record-empty {
  text-align: center;
  font: var(--display-medium14);
  color: var(--text-weak);
  padding: var(--number-200);
  line-height: 100%;
}

.record {
  width: 344px;
  display: flex;
  justify-items: center;
  flex-direction: row;
  border-bottom: 1px solid var(--border-default);
}

.userImage {
  width: 40px;
  height: 40px;
  margin: var(--number-200);
}
.historyItem {
  display: flex;
  flex-direction: column;
  gap: var(--number-100);
  padding: var(--number-200) var(--number-200) var(--number-200) 0;
}

.userName {
  font: var(--display-medium14);
  color: var(--text-default);
}

.textBody {
  font: var(--display-bold14);
  color: var(--text-bold);
}

.textBody span {
  font: var(--display-medium14);
  color: var(--text-default);
}

.timeStamp {
  font: var(--display-medium12);
  color: var(--text-weak);
}

.deleteBox {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

#deleteButton {
  height: 32px;
  font: var(--display-bold14);
  color: var(--accent-red);
  padding: var(--number-50) var(--number-100);
  display: flex;
  align-items: center;
}

#overlay-dark {
  /* display: none; */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.391);
  z-index: 900;
}

/* #alert-box {
  display: none;
} */

/*overlay-dark 와 alert-box를 나타나게하는 클래스 hidden*/
.hidden {
  display: none;
}

.alertContent {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  background-color: var(--surface-default);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: var(--number-400);
  border-radius: var(--number-100);
  transform: translate(-50%, -50%);
}

.alertContent p {
  text-align: center;
  font: var(--display-medium16);
  padding: var(--number-400) var(--number-300) 0 var(--number-300);
}

.alertContent .buttons {
  display: flex;
  gap: var(--number-100);
  justify-content: center;
  padding: 0 var(--number-300) var(--number-300) var(--number-300);
  text-align: center;
}

.alertContent .cancleButton {
  width: 172px;
  height: 32px;
  background-color: var(--surface-alt);
  border-radius: var(--number-100);
  font: var(--display-bold14);
  color: var(--text-default);
}

.alertContent .decideDeleteButton {
  width: 172px;
  height: 32px;
  background-color: var(--accent-red);
  border-radius: var(--number-100);
  font: var(--display-bold14);
  color: var(--text-white-default);
}
