html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f7fc;
}

p {
  padding: 0;
  margin: 0;
}

button {
  all: unset; /* 기본 스타일(테두리, 배경, 패딩, 마진 등) 모두 초기화 */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.top-layout-container {
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard", sans-serif;
  padding-left: 80px;
  padding-right: 80px;
}
.page-header {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.page-header__logo {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}
.page-main__columnlist {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  padding-top: 32px;
  flex-wrap: wrap;
}
.columnlist__col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.columnlist__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  gap: 141px;
}
.columnlist__header div {
  font-size: 16px;
  font-weight: 700;
  color: #4e4b66;
  display: flex;
  align-items: center;
  gap: 8px;
}

.popover-sidebar {
  border: 1px solid black;
  position: absolute;
  inset: 64px auto auto 1018px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  font-size: 14px;
}

.popover-header {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  padding-left: 16px;
  padding-right: 8px;
  position: relative;
  height: 48px;
}

.popover-header__title {
  font-size: 16px;
  right: 77px;
  margin-top: 0;
  margin-bottom: 0;

  /* left: 16px;
  right: 77px; */
}
.popover__section {
  border: 1px solid black;
  padding: 16px;
  max-height: 500px; /* 🔹 모달의 최대 높이 설정 */
  overflow-y: auto; /* 🔹 로그가 많아지면 스크롤 가능하게 설정 */
}

.popover-article {
  width: 312px;
  text-align: center;
}

.activity-list__ul {
  border: 1px solid black;
  /* display: none; */
  list-style: none;
  padding: 0;
  margin: 0;
  width: 350px;
}

.empty-message {
  display: none;
}
.activity-list__list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.activity-list img {
  flex-grow: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  object-fit: cover; /* 비율 유지하면서 크기 조정 */
}

.popover-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px 8px 4px 0;
  align-items: center;
}
.popover-footer button {
  padding: 7.5px 8px;
}

.activity-list__log {
  flex-basis: 256px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#delete-history__modal {
  width: 400px;
  padding: 32px 24px;
  border-radius: 8px;
}
.delete-history__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
dialog::backdrop {
  background-color: #14212b4d;
}

dialog {
  padding: 32px 24px 24px 24px;
  /* padding: 24px; */
  border-radius: 8px;
}

#delete-history__modal .delete-history__buttons {
  display: flex;
  flex-direction: row;
}
#delete-history__modal p {
  margin: 0px;
}
.textLabel {
  padding-left: 4px;
  padding-right: 4px;
}

.delete-history__button {
  padding: 7.5px 69.5px;
}

#confirm-delete-button {
  color: #fefefe;
  background-color: #ff3b30;
}
.task-card__default {
  background-color: #fefefe;
  padding: 16px;
  font-size: 14px;
}

.task-modal-add-template {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-modal-add-template > div {
  display: flex;
  flex-direction: column;
}
.task-modal-add-template footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}
.modal-strong__input::placeholder {
  color: #14142b; /* 🔹 플레이스홀더 색상 변경 */
  font-size: 16px; /* 🔹 글자 크기 변경 */
  font-weight: bold; /* 🔹 글자 두껍게 */
}
.modal-default__input::placeholder {
  color: #6e7191; /* 🔹 플레이스홀더 색상 변경 */
  font-size: 14px; /* 🔹 글자 크기 변경 */
}

.modal__input {
  border: none;
}

.task-add__button {
  border: 1px solid black;
  height: 32px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__input {
  border: none;
  outline: none; /* 🔹 포커스 시 나타나는 외곽선도 제거 */
}
.register-button {
  background-color: #007aff;
}
.cancel-button {
  background-color: #f7f7fc;
}

.todo-card {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.todo-card__textarea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card-textarea__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-textarea__body header {
  font-weight: 700;
}

.card-textarea__body p {
  color: #6e7191;
}

.card-textarea__caption {
  font-size: 12px;
}
