@import url("https://cdn.jsdelivr.net/gh/orioncactus/Pretendard/dist/web/static/pretendard.css");
:root {
  /* Grayscale colors */
  --grayscale-50: #fefefe;
  --grayscale-100: #f7f7fc;
  --grayscale-200: #eff0f6;
  --grayscale-300: #d9dbe9;
  --grayscale-400: #bec1d5;
  --grayscale-500: #a0a3bd;
  --grayscale-600: #6e7191;
  --grayscale-700: #4e4b66;
  --grayscale-800: #2a2a44;
  --grayscale-900: #14142b;

  /* Accent colors */
  --accent-blue: #007aff;
  --accent-red: #ff3b30;

  /* Text colors */
  --text-strong: var(--grayscale-900);
  --text-bold: var(--grayscale-700);
  --text-default: var(--grayscale-600);
  --text-weak: var(--grayscale-500);
  --text-white-default: var(--grayscale-50);
  --text-white-weak: var(--grayscale-100);
  --text-brand: var(--accent-blue);
  --text-danger: var(--accent-red);

  /* Surface colors */
  --surface-default: var(--grayscale-50);
  --surface-alt: var(--grayscale-100);
  --surface-brand: var(--accent-blue);
  --surface-danger: var(--accent-red);

  /* Border colors */
  --border-default: var(--grayscale-200);
  --border-bord: var(--grayscale-400);

  /* Bold type (700) */
  --font-bold-L: 700 24px/1.4 "Pretendard", sans-serif;
  --font-bold-M: 700 16px/1.4 "Pretendard", sans-serif;
  --font-bold-R: 700 14px/1.4 "Pretendard", sans-serif;
  --font-bold-S: 700 12px/1.4 "Pretendard", sans-serif;

  /* Medium type (500) */
  --font-medium-M: 500 16px/22px "Pretendard", sans-serif;
  --font-medium-R: 500 14px/1.4 "Pretendard", sans-serif;
  --font-medium-S: 500 12px/1.4 "Pretendard", sans-serif;

  /* Typogrephy system */
  --display-bold24: var(--font-bold-L);
  --display-bold16: var(--font-bold-M);
  --display-bold14: var(--font-bold-R);
  --display-bold12: var(--font-bold-S);
  --display-medium16: var(--font-medium-M);
  --display-medium14: var(--font-medium-R);
  --display-medium12: var(--font-medium-S);
  --selected-bold16: var(--font-bold-M);
  --selected-bold14: var(--font-bold-R);
  --available-medium16: var(--font-medium-M);
  --available-medium14: var(--font-medium-R);

  /* Number system */
  --number-50: 4px;
  --number-100: 8px;
  --number-200: 16px;
  --number-300: 24px;
  --number-400: 32px;
  --number-500: 40px;
  --number-600: 48px;
  --number-700: 56px;
  --number-800: 64px;
  --number-900: 72px;
}

body {
  margin: 0;
  background-color: var(--surface-alt);
  display: flex;
  flex-direction: column;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}

h1 {
  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  color: var(--text-strong);
}

/* main */
.columnList {
  width: 1280px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.column {
  width: 320px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--number-200);
}

.column-header__textArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--number-100);
}

.column-header__title {
  font: var(--display-bold16);
  color: var(--text-bold);
}

.count_card {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-default);
  border-radius: var(--number-100);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-weak);
  font: var(--display-medium12);
}

.column-header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--number-100);
}

.column-header__plus-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}

.column-header__closed-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}

.plus_button,
.closed_button {
  fill: var(--text-weak);
}

.column-cardList {
  width: 320px;
}

.add-card {
  margin-top: 10px;
  background-color: var(--surface-default);
  border-radius: var(--number-100);
  padding: var(--number-200);
  box-shadow: 0px 1px 4px #6e80913d;
  display: flex;
  flex-direction: column;
  gap: var(--number-200);
}

.add-card__input {
  display: flex;
  flex-direction: column;
  gap: var(--number-100);
}

.add-card__input__title {
  font: var(--display-bold14);
  color: var(--text-strong);
}

.add-card__input__content {
  font: var(--display-medium14);
  color: var(--text-default);
}

.add-card__buttons {
  display: flex;
  gap: var(--number-100);
}

.add-card__cancle-btn {
  width: 140px;
  height: 32px;
  border-radius: var(--number-100);
  border: none;
  padding: 0 var(--number-100);
  background-color: var(--surface-alt);
  font: var(--display-bold14);
  color: var(--text-default);
}

.add-card__submit-btn {
  width: 140px;
  height: 32px;
  border-radius: var(--number-100);
  border: none;
  padding: 0 var(--number-100);
  background-color: var(--surface-brand);
  opacity: 30%;
  font: var(--display-bold14);
  color: var(--text-white-default);
}

.show-card {
  margin-top: 10px;
  background-color: var(--surface-default);
  border-radius: var(--number-100);
  padding: var(--number-200);
  box-shadow: 0px 1px 4px #6e80913d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--number-200);
}

.show-card__total {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.show-card__title {
  font: var(--display-bold14);
  color: var(--text-strong);
}

.show-card__content {
  font: var(--display-medium14);
  color: var(--text-default);
}

.show-card__caption {
  margin-top: var(--number-100);
  font: var(--display-medium12);
  color: var(--text-weak);
}

.show-card__icons {
  display: flex;
  flex-direction: column;
}

.edit_button {
  stroke: var(--text-weak);
}

.show-card__cancle-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}
.show-card__edit-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: unset;
}

.historyList {
  position: fixed;
  left: 200px;
  /*top: 64px; */
  background-color: var(--surface-default);
  box-shadow: 0px 16px 16px #6e80913d, 0px 0px 4px #6e809114;
  border-radius: var(--number-200);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.history__header {
  width: 344px;
  padding: var(--number-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history__header__title {
  padding-left: var(--number-200);
  font: var(--display-bold16);
  color: var(--text-strong);
}

.history__header__closed {
  height: 32px;
  font: var(--display-bold14);
  color: var(--text-default);
  border: none;
  background-color: unset;
  display: flex;
  align-items: center;
}

.history__header__closed-btn {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history__header__textLabel {
  padding: 0 var(--number-50);
}

.history__recordList {
  width: 344px;
  display: flex;
  flex-direction: column;
  gap: var(--number-50);
  padding: var(--number-100);
}

.record-add {
  text-align: center;
  font: var(--display-medium14);
  color: var(--text-weak);
  padding: var(--number-200);
}
