<!-- Task Card -->
<div class="task-card">
  <div class="task-card__left">
    <div class="task-card__title">Task 1</div>
    <div class="task-card__description">Description 1</div>
    <div class="task-card__author">author by YooN</div>
  </div>
  <div class="task-card__right">
    <img
      class="task-card__right-delete-icon"
      src="./icons/delete.png"
      width="14px"
      alt="edit task"
    />
    <img
      class="task-card__right-modify-icon"
      src="./icons/pen.png"
      width="14px"
      alt="delete task"
    />
  </div>
</div>
