<!-- 완료한 일 Column -->
<div class="column">
  <div class="column__header">
    <div class="column__header-left">
      <span class="column__header-title">칼럼 이름</span>
      <span class="column__header-card-count">0</span>
    </div>
    <div class="column__header-right">
      <img
        class="column__header-right-icon"
        src="./icons/plus.png"
        width="14px"
        alt="add task"
      />
      <img
        class="column__header-right-icon"
        src="./icons/delete.png"
        width="14px"
        alt="delete column"
      />
    </div>
  </div>
  <!-- Task Card -->
  <!-- <div class="task-card">
          <div class="task-card__left">
            <div class="task-card__title">Task 1</div>
            <div class="task-card__description">Description 1</div>
            <div class="task-card__author">author by YooN</div>
          </div>
          <div class="task-card__right">
            <img
              class="task-card__right-delete-icon"
              src="./icons/delete.png"
              width="14px"
              alt="edit task"
            />
            <img
              class="task-card__right-modify-icon"
              src="./icons/pen.png"
              width="14px"
              alt="delete task"
            />
          </div>
        </div> -->
</div>
