.card {
    width: 320px;
    background-color: var(--surface-default);
    border-radius: 16px;
    border: 1px solid var(--border-default);
    padding: 16px;
    gap: 16px;
}

.card__content {
    gap: 16px;
}

/* 마진이 0으로 공통인데 추후에 초기화 해야할 지 고민 중 */
.card__text {
    margin: 0;
    gap: 8px;
}

.card__title {
    margin: 0;
    color: var(--text-strong);
}

.card__description {
    margin: 0;
    color: var(--text-default);
}

.card__caption {
    margin: 0;
    color: var(--text-weak);
}