.modal::backdrop {
    background-color: rgba(20, 33, 43, 0.3);
    backdrop-filter: blur(4px)
}

.modal {
    box-shadow: 0px 2px 8px 0px rgba(110, 128, 145, 0.16);
    box-shadow: 0px 2px 8px 0px rgba(110, 128, 145, 0.16);
}

.modal__body {
    margin: 0;
    border: none;
    width: 400px;
    box-shadow: 0px 2px 8px 0px rgba(110, 128, 145, 0.16);
    backdrop-filter: blur(4px);
    padding: 32px 24px 24px;
    gap: 32px;
    border-radius: 8px;
    background-color: var(--surface-default);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__text {
    margin: 0;
    text-align: center;
    color: var(--text-default);
}

.modal__footer {
    gap: 8px;
}

.modal__cancel-btn,
.modal__confirm-btn {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    padding: 0px 8px;
}

.modal__cancel-btn {
    background-color: var(--surface-alt);
    color: var(--text-default);
}

.modal__confirm-btn {
    background-color: var(--surface-danger);
    color: var(--text-white-default);
}