@import url('./variables.css');

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  background-color: var(--surface-default);
}

/* Common Structure styles */
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-item-center {
  display: flex;
  align-items: center;
}

.app-layout {
  gap: 32px;
  width: 1440px;
  height: 100vh;
  padding: 0 80px;
  background-color: var(--surface-alt);
}
