@import url('../base/variables.css');

.card-container {
  gap: 10px;
}

.card-common {
  gap: 16px;
  padding: 16px;
  background-color: var(--surface-default);
  border-radius: var(--radius-small);
  box-shadow: var(--drop-shadow-normal);
}

.todo-card {
  display: flex;
}

.card-form {
  margin-bottom: 10px;
}

.card-form .button-section {
  display: flex;
  gap: 8px;
}

.form-input::placeholder {
  color: var(--text-strong);
}

.form-textarea {
  height: 20px;
  overflow-y: hidden;
}

.form-textarea::placeholder {
  color: var(--text-default);
}

.form-common-btn {
  height: 32px;
  display: flex;
  padding: 7.5px 53.5px;
  background-color: var(--surface-alt);
  border-radius: var(--radius-small);
}

.form-create-btn {
  background-color: var(--surface-brand);
}

.card-form .button-section span {
  padding: 0 4px;
}

.card-form .button-section {
  width: 288px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* card form content */
.content-section {
  width: 100%;
  gap: 8px;
}
