@import url('../base/variables.css');

#kanban-board {
  display: flex;
  gap: 24px;
  background-color: var(--surface-alt);
}

.kanban-column {
  width: 320px;
  gap: 10px;
}

.kanban-column-header {
  display: flex;
  gap: 8px;
  height: 24px;
  justify-content: space-between;
  padding: 0 16px;
}

.kanban-column-title {
  gap: 8px;
  width: 100%;
}

.kanban-column-actions {
  display: flex;
  gap: 8px;
}

.task-counter {
  width: 24px;
  height: 24px;
  border: 1px solid var(--border-default);
  border-radius: var(--radius-small);
  justify-content: center;
}
