@import url('../base/variables.css');

/* History */

#history-sidebar {
  display: none;
  gap: 8px;
  position: fixed;
  top: 64px;
  right: 62px;
  padding: 8px;

  border-radius: var(--radius-medium);
  background-color: var(--surface-default);
  box-shadow: var(--drop-shadow-floating);

  z-index: 10;
}

#history-sidebar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

#history-sidebar header > span {
  display: flex;
  padding-left: 8px;
}

#history-section {
  gap: 1px;
  padding-right: 4px;
  max-height: 560px;
  overflow-y: auto;
}

/* scrollbar */
#history-section::-webkit-scrollbar {
  width: 2px;
  height: 240px;
}

#history-section::-webkit-scrollbar-track {
  background: transparent; /* 트랙 배경 투명 */
}

/* handle */
#history-section::-webkit-scrollbar-thumb {
  background-color: var(--surface-alt);
  border-radius: 6px;
}

/* hover event */
#history-section::-webkit-scrollbar-thumb:hover {
  background-color: darkgray; /* 호버 시 손잡이 색상 */
}

#history-default {
  width: 312px;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.history-close-btn {
  display: flex;
  align-items: center;
  padding: 7.5px 8px;
}

.history-close-btn > span {
  padding: 0 4px;
}

/* History Item*/

.activity-record {
  width: 344px;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: flex-start;
  border-bottom: 1px solid var(--border-default);
}

.activity-record .profile-img {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-large);
  border: 1px solid var(--border-default);
}

.activity-record .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* History Fotter */

#history-sidebar footer {
  display: none;
  justify-content: flex-end;
  padding: 4px 8px;
}

#history-delete-btn {
  display: flex;
  justify-content: center;
  padding: 7.5px 8px;
}
